@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&display=swap");

/* CSS variables */

:root {
  --main-color: #443;

  /* horizontal / vertical  */
  --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
  --border-raduis-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;

  --border: 0.2rem solid var(--main-color);
  --border-hover: 0.2rem dotted var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

/* for all sections  */
section {
  padding: 2rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* new code starts here  */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0; */
  height: 100vh;
  z-index: 999;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  padding: 4rem 9%;
}

.sidebar a {
  width: 100%;
}
/* new code ends here   */

.header .logo {
  color: var(--main-color);
  font-size: 2.3rem;
}

.header .logo i {
  padding-left: 1rem;
}

.header .navbar a {
  margin: 0 1rem;
  color: var(--main-color);
  font-size: 1.7rem;
  /* border: 2px solid black; */
}

.btn {
  border: var(--border);
  padding: 0.9rem 1.5rem;
  border-radius: var(--border-radius);
  color: var(--main-color);
  font-size: 1.7rem;
}

.btn:hover {
  border-radius: var(--border-radius-hover);
  border: var(--border-hover);
}

.heading {
  font-size: 9rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.05rem var(--main-color);
  letter-spacing: 0.2rem;
  line-height: 1.7;
  text-align: center;
  position: relative;
  pointer-events: none;
}

.heading span {
  position: absolute;
  width: 100%;
  color: var(--main-color);
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

/* home section begins here  */

.home {
  min-height: 100vh;
  padding-top: 150px;
  background-image: url(../images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.home .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.home .row .content {
  width: 50rem;
  padding-top: 10rem;
}

.home .row .content h3 {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 6.5rem;
  margin-bottom: 2rem;
}

.home .row .image {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  padding-top: 6rem;
  text-align: center;
}

.home .image-slider {
  text-align: center;
  padding: 3rem 0;
  padding-top: 15rem;
}

.home .image-slider img {
  margin-top: 5rem;
  height: 9rem;
}

.home .image-slider img:hover {
  transition: 2s ease;
  transform: rotate(360deg);
}

.home .row .image img {
  height: 25rem;
  animation: move 2s linear infinite;
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0rem) rotate(-10deg);
  }

  50% {
    transform: translateX(-7rem) rotate(10deg);
  }
}
/* home section ends here  */

/* about section begins here  */
.about .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.about .row .image {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  text-align: center;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 42rem;
}

.about .row .content .title {
  color: var(--main-color);
  font-size: 3rem;
  line-height: 1.8;
}

section {
  padding: 4% 10%;
}

.about .row .content p {
  color: var(--main-color);
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
  margin-bottom: 2rem;
  text-align: justify;
}

.about .row .content .btn {
  margin: 5rem 0;
}

.about .row .content .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.about .row .content .icons-container .icons {
  /* border: var(--border); */
  border-radius: var(--border-radius);
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

.about .row .content .icons-container .icons:hover {
  border: var(--border-hover);
  padding: 0.9rem 1.5rem;
  border-radius: var(--border-radius);
}
/* about section ends here  */

/* menu section starts here  */
.menu {
  background: url(../images/menu-bg.jpg);
  background-position: center;
  background-size: cover;
}

.menu .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.menu .box-container .box {
  border: var(--border);
  border-radius: var(--border-radius);
  gap: 1.5rem;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  flex: 1 1 42rem;
  padding: 2rem;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box .content {
  padding-left: 2rem;
  color: var(--main-color);
}

.menu .box-container .box .content:hover {
  padding: 0.9rem 1.5rem;
  border-radius: var(--border-radius);
  border: var(--border-radius-hover);
}

.menu .box-container .box .content h3 {
  font-size: 3rem;
}

.menu .box-container .box .content p {
  font-size: 1.5rem;
}

.menu .box-container .box .content .price {
  font-size: 2rem;
  font-weight: 800;
}

/* menu section ends here  */

/* review section starts here  */
.review .review-slider {
  padding: 10rem 0;
}

.review .review-slider .box {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 3rem;
  text-align: center;
  margin: 2rem 0;
  user-select: none;
}

.review .review-slider .box .fa-quote-left {
  z-index: 1;
  color: var(--main-color);
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 6rem;
}

.review .review-slider .box .fa-quote-right {
  z-index: 1;
  color: var(--main-color);
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  font-size: 6rem;
}

.review .review-slider .box img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.review .review-slider {
  padding: 10rem 0;
  z-index: -1;
}

/* review section ends here  */

/* book section begins here  */
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book .box {
  display: block;
  margin-top: 20px;
  width: 400px;
  height: 40px;
  padding: 10px;
  /* outline: none;
  border: none;
  border-bottom: 2px solid #443; */
}

#textarea {
  margin-bottom: 20px;
  height: 100px;
}

/* book section ends here  */

/* footer section begins here  */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgb(192, 192, 185);
}
/* footer section ends here  */

@media (min-width: 320px) and (max-width: 480px) {
  .header .navbar .hide {
    display: none;
  }

  .heading {
    font-size: 3rem;
  }

  .heading span {
    font-size: 2rem;
  }

  .btn {
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
  }

  .home {
    margin-bottom: 20px;
  }

  .home .row {
    display: flex;
    flex-direction: column;
  }

  .home .row .content {
    width: 100%;
    padding-top: 5rem;
  }

  .home .row .content h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  .home .row .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home .row .image img {
    height: 15rem;
    margin-left: 60px;
  }

  .home .image-slider {
    text-align: center;
    padding: 3rem 0;
    padding-top: 7rem;
  }

  .home .image-slider img {
    margin-top: 5rem;
    height: 7rem;
  }

  .about .row .image img {
    margin-top: 10px;
    border-radius: 0 40px;
  }

  .about .row .content .title {
    font-size: 2rem;
    line-height: 1.2;
  }

  .about .row .content p {
    font-size: 1rem;
    line-height: 1.8;
  }

  .about .row .content .icons-container {
    display: flex;
    flex-direction: column;
  }

  .menu {
    margin-bottom: 10rem;
  }

  .menu .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }

  .menu .box-container .box {
    margin: 0;
  }

  .menu .box-container .box img {
    height: 7rem;
  }

  .menu .box-container .box .content {
    padding-left: 1rem;
  }

  .menu .box-container .box .content h3 {
    font-size: 2rem;
  }

  .menu .box-container .box .content p {
    font-size: 1rem;
  }

  .menu .box-container .box .content .price {
    font-size: 2rem;
    font-weight: 800;
  }

  .swiper-slide .box {
    margin: 0;
    padding: 0;
  }

  .review .review-slider .box .fa-quote-left {
    font-size: 3rem;
  }

  .review .review-slider .box .fa-quote-right {
    font-size: 3rem;
  }

  .swiper .review-slider {
    height: 200px;
  }

  .review .review-slider .box {
    margin: 0;
  }

  .book .box {
    width: 300px;
  }

  .footer {
    margin-top: 20px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header .navbar .hide {
    display: none;
  }

  .heading {
    font-size: 4rem;
  }

  .heading span {
    font-size: 2.5rem;
  }

  .btn {
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
  }

  .home {
    margin-bottom: 20px;
  }

  .home .row {
    display: flex;
    flex-direction: column;
  }

  .home .row .content {
    width: 100%;
    padding-top: 5rem;
  }

  .home .row .content h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  .home .row .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home .row .image img {
    height: 15rem;
    margin-left: 60px;
  }

  .home .image-slider {
    text-align: center;
    padding: 3rem 0;
    padding-top: 7rem;
  }

  .home .image-slider img {
    margin-top: 5rem;
    height: 7rem;
  }

  .about .row {
    display: block;
  }

  .about .row .image {
    margin-bottom: 30px;
  }

  .about .row .image img {
    margin-top: 10px;
    border-radius: 0 40px;
  }

  .about .row .content .title {
    font-size: 3rem;
    line-height: 1.2;
  }

  .about .row .content p {
    font-size: 1.5rem;
    line-height: 1.8;
  }

  .about .row .content .icons-container {
    display: flex;
    flex-direction: column;
  }

  .menu {
    margin-bottom: 10rem;
  }

  .menu .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }

  .menu .box-container .box {
    margin: 0;
  }

  .menu .box-container .box img {
    height: 7rem;
  }

  .menu .box-container .box .content {
    padding-left: 1rem;
  }

  .menu .box-container .box .content h3 {
    font-size: 2rem;
  }

  .menu .box-container .box .content p {
    font-size: 1rem;
  }

  .menu .box-container .box .content .price {
    font-size: 2rem;
    font-weight: 800;
  }

  .swiper-slide .box {
    margin: 0;
    padding: 0;
  }

  .review .review-slider .box .fa-quote-left {
    font-size: 3rem;
  }

  .review .review-slider .box .fa-quote-right {
    font-size: 3rem;
  }

  .swiper .review-slider {
    height: 200px;
  }

  .review .review-slider .box {
    margin: 0;
  }

  .book .box {
    width: 400px;
  }

  .footer {
    margin-top: 20px;
  }
}

/* bigger screen starts here  */

@media (min-width: 1025px) and (max-width: 1280px) {
  #menu-btn {
    display: none;
  }
}

@media (min-width: 1281px) {
  #menu-btn {
    display: none;
  }
}
